<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="multi-db-session-factory">
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.current_session_context_class">jta</property>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.spi.JtaPlatform</property>
        <property name="hibernate.transaction.jta.platform_resolver">org.hibernate.engine.transaction.jta.platform.spi.JtaPlatformResolver</property>
        <property name="hibernate.transaction.coordinator_class">jta</property>
        <property name="hibernate.dialect.storage_engine">Inno</property>
        <property name="hibernate.generate_statistics">true</property>
    </session-factory>
</hibernate-configuration>

<!--
<hibernate-configuration>
<session-factory name="shape-session-factory">
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.generate_statistics">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.current_session_context_class">jta</property>
    <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
    <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.spi.JtaPlatform</property>
    <property name="hibernate.transaction.jta.platform_resolver">org.hibernate.engine.transaction.jta.platform.spi.JtaPlatformResolver</property>
    <property name="hibernate.transaction.coordinator_class">jta</property>
    <property name="hibernate.dialect.storage_engine">Inno</property>
    <property name="hibernate.default_entity_mode">pojo</property>
</session-factory>
</hibernate-configuration>-->
